@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container-2mda3 {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-x: hidden;
    background-color: #2E3136;

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7d7e81;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
}

:root {
    color-scheme: dark;
    --servers: var(--third-color);
    --channels: var(--third-color);
}

.left-menu-8nkajbc {
    display: flex;
    width: 26.6%;
}

.input-hint {
    font-size: 12px;
    color: #EC5800;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
}

.sidebar-3marlva {
    background: var(--servers);
    height: 100vh;
    padding-bottom: 9vh;
    width: 18%;
    column-gap: 12px;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;

    .scrollable-vertical-l0ma2c {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        padding: 9px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
}

img.server-qma22ax {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0;
    padding: 1px 0;
    margin-top: 10px;
    margin-top: 10px;
    transition: 0.3s;
}

img.server-qma22ax:hover {
    border-radius: 32%;
}

.childWrapper-jb {
    display: flex;
    justify-content: center;
}

.childWrapper-1j_1ub:hover {
    border-radius: 32%;
}

.childWrapper-1j_1ub,
.wrapper-3kah-n {
    transition: 0.3s;
    background-color: #313338;
    color: var(--fourth-color);
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    width: 42px;
    height: 42px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.homeIcon-r0w4ny {
    display: block;
    width: 25px;
    height: 20px;
}


.minihr-aawlmv4a {
    border-color: #35363c;
    border: 1.5px solid #35363c;
    border-radius: 30px;
    width: 70%;
    margin: auto;
    /* position: absolute; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.channels-ha3ncna {
    background-color: var(--seventh-color);
    width: 82%;
    /* position: fixed; */
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.channel-1mca2 {
    display: flex;
    gap: 5px;
    color: var(--fourth-color);
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin: 3px auto;
}

.channel-selected-1mca2 {
    display: flex;
    gap: 5px;
    color: var(--fourth-color);
    background-color: var(--third-color);
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin: 3px auto;
}

.channel-1mca2:hover {
    background-color: var(--third-color);
}

.channel-1mca2:focus {
    background-color: var(--third-color);
}

svg.icon-2W8DHg {
    display: block;
    width: 20px;
    height: 20px;
    color: #9e9e9e;
}

.channel-1mca2:hover>.icon-2W8DHg {
    color: #80848e;
}

.channel-1mca2:focus>.icon-2W8DHg {
    color: #80848e;
}

summary {
    color: #80848e;
    font-size: 12px;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -0.2px;
}

summary::-webkit-details-marker {
    display: none;
}

.category-name {
    margin-left: 5px;
}

details.category {
    transition: 0.3s;
}

.arrow-2HswgU {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.icon-3zI3d2 {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    position: relative;
}

summary:focus>svg {
    transform: rotate();
}

.server-title-qmca2 p {
    color: var(--fourth-color);
    font-weight: 400;
    margin-bottom: 0px !important;
}

.server-title-qmca2 {
    background-color: #d46b32;
    padding: 20px 1em;
    box-shadow: 0 0 1px 1px var(--sixth-color);
    background: linear-gradient(94.38deg, #ecc879 -14.69%, #d46b32 210%);
    height: 8%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.selected-e21ax {
    border-width: 2px;
    border-color: var(--fourth-color);
}

.server-qma22ax {
    /* background-color: #2E3136; */
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1 !important;

    &:not(.active) {
        animation: server-qma22ax-hover-out 0.6s ease;

        &:hover,
        &:focus {
            animation: server-qma22ax-hover-in 0.8s ease forwards;
        }
    }

    .server-icon {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .server-icon>img {
        border-radius: inherit;
        max-width: 100%;
    }

    &.server-friends {
        margin-bottom: 46px;
        text-align: center;

        svg {
            max-width: 60%;
            max-height: 60%;
        }

        &.active::before {
            display: none;
        }

        &::after {
            content: "2 ONLINE";
            color: rgba(#FFF, 0.3);
            pointer-events: none;
            font-weight: 300;
            font-size: 0.65rem;
            position: absolute;
            bottom: -35px;
            left: 3px;
            padding-bottom: 10px;
            border-bottom: 2px solid lighten(#1E2124, 5%);
        }
    }

    &::before {
        position: absolute;
        top: 20px;
        left: -15px;
        content: " ";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 25px;
    }

    &.active {
        border-radius: 15px;
        background-color: #2E3136;
    }

    &.unread::before {
        background: #8A8E94;
    }

    &.active::before {
        background: #FFF;
        height: 40px;
        top: 5px;
    }

    &.active.unread::before {
        transition: all 0.2s ease-in-out;
    }
}


.chgtfgF {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.account-user-39cmaz {
    display: flex;
    height: 10%;
    align-items: center;
    background: var(--third-color);
    padding: 12px 10px;
}

.user-30cmzmc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* 
.avatar-2mllmv4a img {
    width: 15%;
    height: auto;
    border-radius: 50%;
    margin-top: 7px;
} */

.info {
    position: absolute;
    font-size: 8px;
    font-weight: 100;
    left: 48px;
    display: grid;
    top: 14px;
    user-select: all;
}

.info h1 {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    font-weight: 500;
}

.info p {
    color: #b5b7bb;
    font-size: 11px;
    margin-top: -5px;
}

img.status {
    position: absolute;
    background: #232428;
    border: 2px solid #232428;
    width: 7%;
    height: auto;
    bottom: 7px;
    left: 1.7em;
}

/* 
main {
    user-select: none;
    background: #313338;
    padding: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: transparent;
} */

.channels-footer-details-23mas {
    margin-left: 10px;
}

.username-312c02qena,
.tag-kla3mca2 {
    display: block;
    color: var(--fourth-color);
    font-weight: 300;
    font-size: 13px;
}

.username-312c02qena {
    color: var(--fourth-color);
    font-weight: 500;
    font-size: 14px;
}

.tag-kla3mca2 {
    color: rgba(#FFF, 0.45);
    font-size: 0.8rem;
}

.vert-container-23mazz {
    display: flex;
    width: 73.4%;
    height: 100vh;
    flex-direction: column;
    user-select: none;
}

.menu-23maaa {
    padding: 0 20px 0 20px;
    height: 8%;
    width: auto;
    background: var(--seventh-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-name-1mcasa {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05rem;
    color: var(--fourth-color);
    content: "#";
    margin-left: 5px;
    margin-right: 2px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

@keyframes float-infinite {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

#black-hole-background {
    position: relative;
    width: 100%;
    height: 82vh;
    overflow: hidden;
    background: black;
    /* Add a background for black-hole effect */
}

.message-wrap-83nja {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding: 3px 20px;
}

.message-wrap-83nja-float {
    padding: 3px 20px;
    width: fit-content;
    /* Adjusts width based on content */
    white-space: nowrap;
    position: absolute;
    animation: float-infinite 10s infinite ease-in-out;
}

#raffle-background {
    position: relative;
    width: 100%;
    height: 82vh;
    overflow: hidden;
}

.message-wrap-83nja-float-raffle {
    padding: 3px 20px;
    width: fit-content;
    /* Adjusts width based on content */
    white-space: nowrap;
    position: absolute;
    animation: float-infinite 10s infinite ease-in-out;

}

.raffle-ac2s2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 13px 15px;
    background-color: var(--seventh-color);
    border-radius: 10px;
    width: 35%;
    min-height: 70px;
    align-self: flex-end;
    position: relative
}


.raffle-ac2s2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 70%;
    height: 100%;
    width: 4px;
    background: repeating-linear-gradient(to bottom,
            var(--eighth-color),
            /* Dot color */
            var(--eighth-color) 8px,
            /* Dot height */
            transparent 1px,
            /* Gap between dots */
            transparent 12px
            /* Gap height */
        );
    transform: translateX(-50%);
}

.left-circle {
    position: absolute;
    top: 50%;
    left: -14px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-color: var(--channels);
    border-radius: 50%
}

.right-circle {
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-color: var(--channels);
    border-radius: 50%
}

.raffle-text-3kzc3 {
    font-size: 24px;
    font-weight: 300;
    color: var(--fourth-color);

    b {
        font-weight: 600;
    }
}

.chat-user-icon-ac2s2 {
    display: flex;
    width: 60px;
    border-radius: 5px;
}

.poll-answer-923mas {
    padding: 7px 12px;
    color: var(--fourth-color);
    background-color: var(--third-color);
    margin-right: 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
}

.checklist-answer-923mas {
    display: flex;
    flex-direction: 'row';
    align-items: 'center';
    margin-top: 10px;
    padding: 7px 12px;
    color: var(--fourth-color);
    background-color: var(--third-color);
    margin-right: 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
}

.add-media-3ca22 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 18px;
    color: var(--fourth-color);
    font-weight: 200;
    background-color: var(--third-color);
    padding: 6.5px 8.5px;
    border-radius: 50%;
    cursor: pointer;
}

.message-datetime-zkn22d:hover {
    display: flex;
}


.stream-box-ac2s2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 15px 20px;
    background-color: var(--seventh-color);
    border-radius: 5px;
    width: 100%;
}

.stream-live-wrap {
    background-color: #80848e34;
    align-items: center;
    justify-content: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 12px;
}

.f1--xs {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--fifth-color);
}

.feedback-icon-text {
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
    line-height: 17px;
    color: var(--fifth-color);
}

.stream-live {
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: var(--fifth-color);
}

.stream-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--fifth-color);
}

.f1-bold--xs {
    font-weight: bolder;
    font-size: 20px;
    line-height: 17px;
    color: var(--fifth-color);
}

.team-color-icon {
    width: 4px;
    height: 14px;
    margin: 0 10px;
}

.feedback-wrap-83nja {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 3px 20px;
}

.stream-wrap-83nja {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 20px;
}

.message-wrap-83nja {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 3px 20px;
}

.feedback-box-ac2s2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 13px 20px;
    background-color: var(--seventh-color);
    border-radius: 10px;
    width: 100%;
    align-self: flex-end;
    position: relative
}

.message-ac2s2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;
    background-color: var(--seventh-color);
    border-radius: 20px;
    width: fit-content;
    align-self: flex-end;
    position: relative
}

.message-tail {
    content: '""';
    position: absolute;
    bottom: 3px;
    right: -10px;
    width: 0;
    height: 0;
    border-radius: 50%;
    border-left: 8px solid var(--seventh-color);
    border-right: 12px solid transparent;
    border-top: 12px solid var(--seventh-color);
    border-bottom: 12px solid transparent;
    transform: rotate(270deg);
}

.message-divider-date-wrap-7naj82b {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding: 18px 20px;
}

.stream-live-wrap {
    background-color: #80848e34;
    align-items: center;
    justify-content: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 12px;
}

.feedback-live-wrap {
    background-color: #80848e34;
    align-items: center;
    width: 80px;
    height: 80px;
    justify-content: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 12px;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    padding: 12px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f1--xs {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--fifth-color);
}

.stream-live {
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: var(--fifth-color);
}

.stream-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--fifth-color);
}

.f1-bold--xs {
    font-weight: bolder;
    font-size: 14px;
    line-height: 17px;
    color: var(--fifth-color);
}

.team-color-icon {
    width: 4px;
    height: 14px;
    margin: 0 10px;
}

.message-divider-date-7naj82b {
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
    background-color: var(--seventh-color);
    border-radius: 4px;
    width: auto;
    font-size: 12px;
    font-weight: 400;
    color: var(--fourth-color);
    line-height: 22px;
}

.message-text-3kzc3 {
    font-size: 15px;
    font-weight: 300;
    color: var(--fourth-color);
    line-height: 22px;

    b {
        font-weight: 600;
    }
}

.options-text-3kzc3 {
    font-size: 13px;
    font-weight: 400;
    color: var(--fourth-color);
    line-height: 22px;
    margin-bottom: 0px !important;

    b {
        font-weight: 600;
    }
}

.date-text-3kzc3 {
    font-size: 9.5px;
    font-weight: 100;
    color: var(--fourth-color);
    line-height: 16px;
    margin-left: 12px;
    margin-bottom: 0px !important;
}



/* coin model */
.coin-modal-mcan34 {
    background-color: var(--third-color);
}

.coin-modal-base-mcan34 {
    background-color: red;
}

.coin-model-body-content-82bma2 {
    background-color: var(--third-color);
    padding: 20px 0px;
}

.coin-modal-header-mcan34 {
    border-top-left-radius: 0px !important;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--seventh-color);
}

.coin-modal-footer-mcan34 {
    border-radius: 0px !important;
    height: 90px;
    align-items: center;
    border-top-width: 1px;
    border-top-color: #213043;
    background-color: var(--third-color);
}

.coin-modal-title-mcan34 {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
}

.coin-body-title-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 18.5px;
    font-weight: 600;
    text-align: center;
}

.coin-body-sub-text-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.coin-box-wrap-72bak {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.coin-box-72bak {
    height: 26rem;
    width: 300px;
    background-color: var(--primary-color);
    background-color: var(--seventh-color);
    margin-top: 20px !important;
    border-radius: 10px;
}

.coin-box-header-72bak {
    height: 60%;
    padding: 20px 20px;
    overflow-x: hidden;
}

.coin-box-footer-72bak {
    height: 40%;
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
}

.coin-body-footer-title-72bak {
    color: var(--fourth-color);
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.coin-progress-72bak {
    height: 10px;
    background: linear-gradient(94.38deg, #ecc879 -14.69%, #d46b32 210%);
}

.coin-emoji-grid-72bak {
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-evenly;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
}

.coin-emoji-72bak {
    margin-bottom: 0px;
    font-size: 24px;
    width: 34px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.coin-emoji-72bak:hover {
    border-radius: 6px;
    background-color: var(--third-color);
}

.coin-number-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
}





/* suitcase model */
.suitcase-modal-mcan34 {
    background-color: var(--third-color);
    overflow-x: hidden;
}

.suitcase-modal-base-mcan34 {
    background-color: red;
}

.suitcase-model-body-content-82bma2 {
    background-color: var(--third-color);
    padding: 20px 0px;
}

.suitcase-modal-header-mcan34 {
    border-top-left-radius: 0px !important;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--seventh-color);
}

.suitcase-modal-footer-mcan34 {
    border-radius: 0px !important;
    height: 90px;
    align-items: center;
    border-top-width: 1px;
    border-top-color: #213043;
    background-color: var(--third-color);
}

.suitcase-modal-title-mcan34 {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
}

.suitcase-body-title-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 18.5px;
    font-weight: 600;
    text-align: center;
}

.suitcase-body-sub-text-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.suitcase-box-wrap-72bak {
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.suitcase-box-72bak {
    height: 22rem;
    width: 280px;
    background-color: var(--seventh-color);
    margin-top: 20px !important;
}

.suitcase-box-header-72bak {
    height: 72%;
    padding: 20px 20px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suitcase-box-footer-72bak {
    height: 28%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
}

.suitcase-body-footer-title-72bak {
    color: var(--fourth-color);
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.suitcase-progress-72bak {
    height: 10px;
    background: linear-gradient(94.38deg, #ecc879 -14.69%, #d46b32 210%);
}

.suitcase-bgimage-grid-72bak {
    display: grid;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.suitcase-bgimage-72bak {
    margin-bottom: 0px;
    font-size: 24px;
    width: 34px;
    border-radius: 6px;
    font-weight: 400;
    text-align: center;
}

.suitcase-number-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
}




/* online user count model */
.online-count-modal-mcan34 {
    background-color: var(--third-color);
    overflow-x: hidden;
}

.online-count-modal-base-mcan34 {
    background-color: red;
}

.online-count-model-body-content-82bma2 {
    background-color: var(--third-color);
    padding: 20px 0px;
}

.online-count-modal-header-mcan34 {
    border-top-left-radius: 0px !important;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--seventh-color);
}

.online-count-modal-footer-mcan34 {
    border-radius: 0px !important;
    height: 90px;
    align-items: center;
    border-top-width: 1px;
    border-top-color: #213043;
    background-color: var(--third-color);
}

.online-count-modal-title-mcan34 {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
}

.online-count-body-title-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 18.5px;
    font-weight: 600;
    text-align: center;
}

.online-count-body-sub-text-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.online-count-box-wrap-72bak {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.online-count-box-72bak {
    height: auto;
    width: 100%;
    background-color: var(--seventh-color);
    margin-top: 20px !important;
}

.toolkit-style-3lkna {
    background-color: var(--seventh-color);
    color: var(--fourth-color);
}

.online-count-box-header-72bak {
    height: 72%;
    padding: 30px 33px;
    overflow-x: hidden;
    display: flex;
    background-color: var(--seventh-color);
    justify-content: center;
    align-items: center;
}

.online-count-box-footer-72bak {
    height: 28%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
}

.online-count-body-footer-title-72bak {
    color: var(--fourth-color);
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.online-count-progress-72bak {
    height: 10px;
    background: linear-gradient(94.38deg, #ecc879 -14.69%, #d46b32 210%);
}

.online-count-bgimage-grid-72bak {
    display: grid;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.online-count-bgimage-72bak {
    margin-bottom: 0px;
    font-size: 24px;
    width: 34px;
    border-radius: 6px;
    font-weight: 400;
    text-align: center;
}

.online-count-number-72bak {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
}






/* add poll model */
.modal-mcan34 {
    background-color: var(--third-color);
}

.model-body-content-82bma2 {
    background-color: var(--third-color);
    padding: 20px 0px;
}

.modal-header-mcan34 {
    border-top-left-radius: 0px !important;
    height: 50px;
    align-items: center;
    background-color: var(--seventh-color);
}

.modal-footer-mcan34 {
    border-radius: 0px !important;
    height: 90px;
    display: flex;
    padding: 10px 0px;
    justify-content: flex-end;
    align-items: center;
    border-top-width: 1px;
    border-top-color: #213043;
    background-color: var(--third-color);
}

.modal-title-mcan34 {
    color: var(--fourth-color);
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 500;
}



.main-button-7ajb412 {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    height: 34px;
    background: #ecc879;
    border: 0;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 4px !important;
    padding: 15px;
    color: #000;
    font-weight: 500 !important;
    font-size: 14.5px !important;
    margin-bottom: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main-button-7ajb412:hover,
.main-button-7ajb412:active,
.main-button-7ajb412:focus {
    background: #e3ae3a;
}

.side-button-7ajb412 {
    outline: 0;
    min-width: 120px;
    border: 0;
    margin-top: 12px;
    border-radius: 4px !important;
    margin-bottom: 10px;
    padding: 15px;
    color: var(--fifth-color) !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.side-button-7ajb412:hover,
.side-button-7ajb412:active,
.side-button-7ajb412:focus {
    background: #7d7e81;
    color: var(--fourth-color);
    font-size: 16px;
}

.poll-question-label-72bak {
    color: var(--fourth-color) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-bottom: 0px !important;
}

.poll-options-label-72bak {
    color: var(--fourth-color) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-bottom: 0px !important;
    margin-top: 15px !important;
}

.add-poll-options-72bak {
    margin-left: 16px;
    color: #ecc879 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-bottom: 0px !important;
    margin-top: 15px !important;
    cursor: pointer;
    width: fit-content;
}

.form-control-7ajb412 {
    outline: 0;
    background-color: var(--seventh-color);
    border-radius: 4px;
    width: 100%;
    border-width: 1px;
    border-color: var(--seventh-color);
    margin: 10px 0;
    color: var(--fifth-color);
    padding: 11px 15px;
    font-size: 15px;
}

.form-control-7ajb412:focus {
    box-shadow: 0 0 0px 0 var(--fourth-color);
}

.light {
    color: var(--fourth-color) !important;
}

.refresh {
    color: var(--fourth-color);
}

.chat-gsdu3b {
    height: 92%;
    display: flex;
    flex-direction: row;
    background-color: var(--channels);
    width: auto;
}

#sidebar-btn-3cjana {
    display: none;
}

.user-name-3kzc3 {
    color: var(--fourth-color);
    font-weight: 300;
    font-size: 13px !important;
    margin-bottom: 0px !important;
    margin-right: 5px;
}

.user-name-3kzc3-raffle {
    color: var(--fourth-color);
    font-weight: 300;
    font-size: 14px !important;
    margin-bottom: 0px !important;
    margin-right: 5px;
}

.user-description-3kzc3 {
    color: var(--fifth-color) !important;
    font-size: 10px !important;
    letter-spacing: 0.3px;
    margin-bottom: 0px !important;
    font-weight: 200;
    width: 18dvw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-info-3kzc3 {
    margin-top: 3px;
}

.user-name-info-3kzc3 {
    margin-left: 7px;
    color: var(--fourth-color);
}

.clipboard-icon {
    color: var(--ninth-color);
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.clipboard-icon:hover {
    color: #fff;
    background-color: var(--ninth-color);

}

/* Add these styles in your CSS file or within a <style> tag */
.popup-modal {
    position: absolute;
    /* Positioned relative to the parent container */
    bottom: 0;
    /* Start at the bottom of the parent container */
    left: 50%;
    /* Center horizontally */
    min-width: 95%;
    min-height: 70%;
    transform: translate(-50%, 100%);
    /* Start off-screen below */
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: var(--seventh-color);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-modal.visible {
    transform: translate(-50%, -15%);
    /* End position (centered vertically) */
    opacity: 1;
}

.rectangle {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 50%;
    /* Adjust to match the clipboard's clip width */
    height: 50px;
    /* Height of the clip */
    background-color: var(--border-color);
    border: 3px solid var(--eighth-color);
    border-radius: 30px 30px 15px 15px;
    /* Round only the top corners */
    transform: translateX(-50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 3;
    /* Ensure it appears on top of the modal */
}

.rectangle-line {
    width: 100%;
    position: absolute;
    top: 60%;
    border-top: 3px solid var(--eighth-color);
    ;
}

.dot {
    position: absolute;
    top: 0px;
    /* Center the dot vertically within the circle */
    left: 50%;
    /* Center the dot horizontally within the circle */
    width: 10px;
    /* Width of the dot */
    height: 10px;
    /* Height of the dot */
    background-color: var(--border-color);
    /* Color of the dot */
    border-radius: 50%;
    /* Make it a full circle */
    transform: translate(-50%, -50%);
    /* Center the dot within the circle */
    z-index: 4;
}

.rectangle::before {
    content: "";
    position: absolute;
    top: -30px;
    /* Adjust to position the half-circle on top of the rectangle */
    left: 50%;
    width: 60px;
    /* Width of the half-circle */
    height: 30px;
    /* Half the height of the previous full circle */
    background-color: var(--border-color);
    border-top-left-radius: 60px;
    /* Make the top half rounded */
    border-top-right-radius: 60px;
    /* Make the top half rounded */
    border-bottom: none;
    /* Remove the bottom border */
    border-left: 3px solid var(--eighth-color);
    border-right: 3px solid var(--eighth-color);
    border-top: 3px solid var(--eighth-color);
    border-bottom: 3px solid var(--eighth-color);
    transform: translateX(-50%);
    z-index: 3;
    /* Ensure the half-circle appears above the clip */
}

.rectangle::after {
    content: "";
    position: absolute;
    top: 0px;
    /* Center the circle vertically within the half-circle */
    left: 50%;
    /* Center the circle horizontally within the half-circle */
    width: 25px;
    /* Width of the full circle */
    height: 25px;
    /* Height of the full circle */
    background-color: var(--eighth-color);
    /* Color of the full circle */
    border-radius: 50%;
    /* Make it a full circle */
    transform: translate(-50%, -50%);
    /* Center the full circle within the half-circle */
    z-index: 3;
    /* Ensure the full circle appears above the half-circle */
}


.close-btn {
    position: absolute;
    top: 37px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
    color: var(--fourth-color);
    cursor: pointer;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding: 3px;
    transition: color 0.3s;
}

.close-btn:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.modal_text_title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--fourth-color);
}

.modal_text_body {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--fourth-color);
}

.modal_body li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 45px;
    /* Adjust as needed */
}

.custom-checkbox {
    display: none;
}

/* Create a custom checkbox */
.custom-checkbox+label {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
}

/* Create the custom checkbox box */
.custom-checkbox+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--fourth-color);
    border-radius: 4px;
}

/* Style the custom checkbox when checked */
.custom-checkbox:checked+label::before {
    /* background-color: #ecc879; */
}

/* Add a checkmark symbol when checked */
.custom-checkbox:checked+label::after {
    content: "✅";
    position: absolute;
    left: -0.1px;
    /* Adjusted for better centering */
    top: 52%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    /* Adjusted font size */
    line-height: 1;
}

.custom-checkbox-icon,
.custom-checkbox-x-icon {
    margin-top: 20px !important;

}

.custom-checkbox-icon::after {
    content: "✅";
    position: absolute;
    left: 60px;
    /* Adjusted for better centering */
    top: 15%;
    color: white;
    font-size: 19px;
    /* Adjusted font size */
    line-height: 1;
}

.custom-checkbox-x-icon::after {
    content: "❌";
    position: absolute;
    left: 28px;
    /* Adjusted for better centering */
    top: 15.2%;
    color: white;
    font-size: 18px;
    /* Adjusted font size */
    line-height: 1;
}



.custom-checkbox-x {
    display: none;
    margin-right: 5px;
}

/* Create a custom checkbox for the cross */
.custom-checkbox-x {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    /* Adjust the spacing between the two checkboxes */
}

/* Create the custom cross checkbox box */
.custom-checkbox-x::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--fourth-color);
    border-radius: 4px;
}

/* Style the cross checkbox when checked */
.custom-checkbox-x:checked::before {
    /* background-color: #ff6f6f; */
    /* Red background for the cross */
}

/* Add a cross symbol when checked */
.custom-checkbox-x:checked::after {
    content: "❌";
    /* Cross symbol */
    position: absolute;
    left: 2px;
    /* Adjusted for better centering */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 15px;
    /* Adjusted font size */
    line-height: 1;
}

.message-input-7ajb312 {
    background-color: #000;
    border-color: #ffffff33;
    border-radius: 20px;
    height: 32px;
    border-width: 1px;
    width: 100%;
    color: #ffffff;
    padding: 6px 15px;
    font-size: 14px;
}

.message-input-7ajb312:focus {
    border-color: #ffffff33 !important;
}

.submit-button-mdkad {
    outline: 0 !important;
    background: #b78727 !important;
    width: fit-content !important;
    border: 0 !important;
    border-radius: 7px !important;
    padding: 5px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    -webkit-transition: all 0.3 ease !important;
    transition: all 0.4s ease-in-out !important;
    cursor: pointer !important;
}

.submit-button-mdkad:hover {
    background: #b78727 !important;
    color: #dedede !important;
    box-shadow: 0 0 10px 0 #b78727 !important;
    font-size: 16px !important;
}

.side-button-mdkad {
    outline: 0;
    min-width: 120px;
    border: 0;
    margin-top: 12px;
    border-radius: 4px !important;
    margin-bottom: 10px;
    padding: 5px;
    color: var(--fifth-color) !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.side-button-mdkad:hover,
.side-button-mdkad:active,
.side-button-mdkad:focus {
    background: #7d7e81;
    color: var(--fourth-color);
    font-size: 16px;
}

.ticket-raffle {
    color: var(--eighth-color);
    width: 200px;
    height: 70px;
}

.raffle-ac2s2-icon {
    display: flex;
    flex-direction: column;
    padding: 13px 15px;
    background-color: var(--eighth-color);
    width: 25%;
    min-height: 50px;
    position: relative
}


.raffle-ac2s2-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 70%;
    height: 100%;
    width: 4px;
    background: repeating-linear-gradient(to bottom,
            var(--seventh-color),
            /* Dot color */
            var(--seventh-color) 8px,
            /* Dot height */
            transparent 1px,
            /* Gap between dots */
            transparent 12px
            /* Gap height */
        );
    transform: translateX(-50%);
}

.left-circles-container,
.right-circles-container {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
}

.left-circles-container {
    left: -6px;
    /* Adjust according to your needs */
}

.right-circles-container {
    right: 6px;
    /* Adjust according to your needs */
}

.circle {
    width: 12px;
    height: 12px;
    background-color: var(--seventh-color);
    border-radius: 50%;
    position: absolute;
}

.circle.top {
    top: 10%;
    /* Adjust to position at the top */
}

.circle.middle {
    top: 50%;
    /* Center position */
    transform: translateY(-50%);
}

.circle.bottom {
    bottom: 10%;
    /* Adjust to position at the bottom */
}

.custom-checkboxlist {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    color: #000;
    background-color: #fff;
}

.custom-checkboxlist.yes::before {
    content: '✅';
    /* Checkmark for true */
    color: green;
    /* Optional: color for the checkmark */

}

.custom-checkboxlist.cross::before {
    content: '❌';
    /* X mark for cross */
    color: red;
    /* Optional: color for the X mark */
}

.modal_body-media li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: auto;
    /* Adjust as needed */
}

.online-count-body-title-72bak-media {
    color: var(--fourth-color);
    margin-bottom: 20px;
    font-size: 18.5px;
    font-weight: 600;
    margin-left: 15px;
}

.custom-checkbox-modal {
    display: none;
}

/* Create a custom checkbox */
.custom-checkbox-modal+label {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
}

/* Create the custom checkbox box */
.custom-checkbox-modal+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--fourth-color);
    border-radius: 4px;
}

/* Style the custom checkbox when checked */
.custom-checkbox-modal:checked+label::before {
    background-color: #ecc879;
}

/* Add a checkmark symbol when checked */
.custom-checkbox-modal:checked+label::after {
    content: "✅";
    position: absolute;
    left: 0px !important;
    /* Adjusted for better centering */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
    /* Adjusted font size */
    line-height: 1;
}

.signature-title {
    color: var(--fourth-color);
    margin-bottom: 5px;
}

.clear-button-mdkad {
    outline: 0 !important;
    background: #b78727 !important;
    width: fit-content !important;
    border: 0 !important;
    border-radius: 7px !important;
    padding: 0px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    -webkit-transition: all 0.3 ease !important;
    transition: all 0.4s ease-in-out !important;
    cursor: pointer !important;
}

.clear-button-mdkad:hover,
.clear-button-mdkad:active,
.clear-button-mdkad:focus {
    background: #b78727 !important;
    color: #dedede !important;
    box-shadow: 0 0 10px 0 #b78727 !important;
    font-size: 16px !important;
}

.whatsapp-chat-list {
    padding: 10px;
    width: auto;
    margin: auto;
}

.chat-day {
    margin-bottom: 20px;
}

.chat-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--seventh-color);
    border-bottom: 1px solid var(--fourth-color);
    cursor: pointer;
    transition: background 0.2s;
}

.chat-item:hover {
    background-color: var(--hoverbox-color);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-content {
    flex-grow: 1;
    padding-bottom: 10px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    color: var(--fourth-color);
}

.verified-icon {
    color: #25D366;
    font-size: 12px;
    margin-left: 5px;
}

.timestamp {
    color: #888;
    font-size: 12px;
}

.message-preview {
    color: #888;
    font-size: 14px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
}

.chat-window {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    height: 600px;
    width: auto;
    overflow-y: auto;
}

.whatsapp-chat.sent {
    display: flex;
    justify-content: flex-end;
    /* Align sent messages to the right */
    margin-bottom: 10px;
}

.message-user-info {
    color: var(--fourth-color);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.whatsapp-chat.received {

    margin-bottom: 10px;
}

.message-bubble.sent {
    background-color: var(--success-color);
    /* WhatsApp sent message color */
    color: var(--fourth-color);
    border-radius: 8px;
    padding: 10px;
    max-width: 60%;
    display: flex;
    align-items: center;
}

.message-bubble.received {
    background-color: var(--seventh-color);
    /* WhatsApp received message color */
    color: var(--fourth-color);
    border-radius: 8px;
    padding: 10px;
    max-width: 60%;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message-header {
    display: flex;
    justify-content: space-between;
}

.verified-icon {
    color: blue;
}

.timestamp {
    font-size: 0.75em;
    color: gray;
}

.message-input-support {
    background-color: var(--third-color);
    border-color: #ffffff33;
    border-radius: 20px;
    height: 32px;
    border-width: 1px;
    width: 100%;
    color: #ffffff;
    padding: 6px 15px;
    font-size: 14px;
}

.arrow-left {
    color: var(--fourth-color);
    background-color: var(--primary-color);
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: 7px;
    margin-right: 10px;
}

.arrow-left:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}



@media screen and (max-width: 1000px) {
    #chat {
        display: flex;
        width: 100%;
        transition: left 0.3s linear;
    }

    #sidebar {
        display: flex;
        width: 45%;
        transition: left 0.3s linear;
    }


    @media screen and (max-width: 600px) {

        #chat {
            display: flex;
            width: 100%;
            transition: left 0.3s linear;
        }

        #sidebar {
            display: flex;
            width: 100%;
            transition: left 0.3s linear;
        }
    }

    @media screen and (max-width: 490px) {
        #chat {
            display: flex;
            width: 50%;
            transition: left 0.3s linear;
        }

        #chat.visible {
            display: flex;
            width: 100%;
            position: fixed;
            right: -85%;
            transition: right 0.3s linear;
        }

        #sidebar {
            display: none;
            transition: left 0.3s linear;
        }

        #sidebar.visible {
            display: flex;
            width: 85%;
            transition: left 0.3s linear;
        }

        #sidebar-btn-3cjana {
            margin-right: 20px;
            cursor: pointer;
            display: flex !important;
        }
    }
}