@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container-3ca2e2 {
    height: 100vh;
    background: url('/assets/matrix-bg-bw-a53c6ae5.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7d7e81;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
}

.loading-wrap-38cba {
    display: flex;
    width: fit-content;
    padding: 30px 26px 22px 26px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
}

.loading-text-38cba {
    font-size: 24px;
    color: #ededed;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}

.loader-38cba {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, transparent);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}

.des-text-38cba {
    font-size: 19px;
    color: #ededed;
    margin-top: 15px;
    font-weight: 500;
}