@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h3 {
    color: #ededed;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.main-body {
    background-color: #0c1b33;
    height: 100vh;
    background: url('/assets/matrix-bg-bw-a53c6ae5.jpg');
    background-size: cover;
    background-position: center;
}

.login-page {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
    filter: drop-shadow(0 0 2px #000000);
    border-radius: 7px;
    width: 380px;
    background-color: rgba(142, 121, 62, 0.8);
    background-color: #b78727;
    background-color: #121212;
    padding: 40px;
    box-shadow: 1px 1px 8px 0 #dedede;
}

.form img {
    position: absolute;
    height: 20px;
    bottom: 205px;
    right: 60px;
    cursor: pointer;
}

.form p {
    font-size: 12px;
    color: #EC5800;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
}

.form input {
    outline: 0;
    background: #dedede;
    border-radius: 7px;
    width: 100%;
    border: 0;
    margin: 15px 0;
    color: #232323;
    padding: 15px;
    font-size: 15px;
}

.form input:focus {
    box-shadow: 0 0 10px 0 #ededed;
}

span {
    color: red;
    margin: 10px 0;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: #b78727;
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 7px;
    padding: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #b78727;
    color: #dedede;
    box-shadow: 0 0 10px 0 #b78727;
}

.message {
    margin-bottom: 20px;
    text-align: right;

}

.form .message {
    font-size: 12px;
    color: #b78727;
    text-align: right;
    align-self: flex-end;
    text-decoration: none;
}

.back-action {
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
}

.back {
    margin-left: 8px;
    text-align: center !important;
}

.form .back {
    font-size: 15px;
    color: #b78727;
    text-decoration: none;
}