@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-body {
    background-color: #0c1b33;
    height: 100vh;
    background: url('/assets/matrix-bg-bw-a53c6ae5.jpg');
    background-size: cover;
    background-position: center;
}

.logo {
    /* height: 15rem;
    width: 15rem; */
    display: flex;
    margin-top: 30%;
}

.side-button {
    outline: 0;
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 7px;
    padding: 15px;
    color: #dedede;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.side-button:hover,
.side-button:active,
.side-button:focus {
    background: rgba(200, 200, 200, 0.4);
    color: #ffffff;
}

.main-button {
    outline: 0;
    background: #b78727;
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 7px;
    padding: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main-button:hover,
.main-button:active,
.main-button:focus {
    background: #b78727;
    color: #dedede;
    box-shadow: 0 0 10px 0 #b78727;
}