@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.spinner-wrapper-3mdaw {
    position: 'fixed';
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    display: flex;
    height: 100%;
    border-width: 1;
    border-color: 'whitesmoke';
    align-items: center;
    justify-content: center;
}

.spinner-content-3mdaw {
    display: flex;
    flex-direction: column;
    border-width: 0.5px;
    border-color: white;
    padding: 25px 20px 15px 20px;
    background-color: black;
}

.loading-text-aed3c {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-top: 15px;
}