.container-93ca2aw {
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: column;


    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7d7e81;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
}

.header-3m32aaw {
    height: 6.1vh;
    min-height: 6.1vh;
    max-height: 6.1vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    position: fixed;
    top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: .75rem;
    padding-right: .75rem;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-92a233a {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 6.1vh;
    overflow: hidden;
    background-color: var(--third-color);
}

.category-img-9ama2f {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-category-zc62n {
    color: var(--fourth-color) !important;
    font-weight: 500;
    font-size: 14px !important;
}

.left-menu-6k2zzc {
    display: flex;
    min-width: 340px;
    max-width: 360px;
    height: 100%;
    /* width: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: var(--ninth-color);
}

.right-content-83mzvcj3 {
    display: flex;
    width: 100%;
    height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    user-select: none;
    background-color: var(--ninth-color);
}

.lesson-box-62nks {
    padding: 0.2rem 1.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lesson-text-info {}

.lesson-box-62nks.active {
    background-color: #c6c6c611;
    border-left-width: 1px;
    border-left-color: var(--secondary-color);
}

.lesson-box-62nks:hover {
    background-color: #c6c6c611;
}

.lesson-name-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px !important;
    margin-bottom: 2px;
}

.lesson-description-9qncq6 {
    color: var(--fifth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    /* margin-top: 6px; */
    font-weight: 300;
}

.course-box {
    background-color: var(--primary-color);
    /* Background color similar to the image */
    padding: 9px 10px;
    opacity: 0.9;
    height: 350px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    /* Adjust width as needed */
    /* border-bottom-width: 4px; */
    /* border-bottom-color: #1d2b3a; */
    margin-bottom: 0.25rem;
}

.success-course-box {
    background-color: #064d40;
    /* Background color similar to the image */
    padding: 12px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    /* Adjust width as needed */
}

.selected-course {
    background-color: #172459;
}

.label-text {
    border-width: 1px;
    border-color: #EC5800;
}

.course-box:hover {
    background-color: #2a3a4a;
    /* Replace with desired hover color */
}


.course-info-mc2nw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-text-info {
    display: flex;
    width: 85%;
    flex-direction: column;
}

.course-name-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 14px !important;
    margin-bottom: 2px;
}

.course-name1-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 600;
    line-height: 1rem !important;
    letter-spacing: 0.5px;
    font-size: 12px !important;
}

.course-description-9qncq6 {
    color: var(--fifth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    margin-top: 6px;
    font-weight: 300;
}

.course-avatar {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
}

.course-item-k3bda {
    width: 100%;
    display: block;
}

.course-item-header-acnk3 {
    background-color: var(--primary-color);
    padding: 13px 18px;
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    min-width: 10%;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-radius: 13px;
}

.course-item-header-acnk3.active {
    width: 100%;
    background-color: var(--third-color);
    border-color: var(--fifth-color);
    border-width: 1px;
}

.course-progress-983bzs {
    background-color: var(--secondary-color) !important;
}


.course-label-nja72b {
    color: var(--text-color) !important;
    font-size: 0.75rem !important;
    letter-spacing: 0.7px;
    line-height: 1rem;
    font-weight: 300;
}

.course-value-nja72b {
    color: var(--fourth-color) !important;
    font-size: 12px !important;
    letter-spacing: 0.7px;
    line-height: 1rem;
    font-weight: 600;
    margin: 0px 4px 0px 0px;
}

.search-course-o38ca3 {
    position: relative;
}

.search-input-ncka2nx {
    background-color: var(--seventh-color);
    border-color: #ffffff33;
    border-radius: 0.2rem;
    border-width: 1px;
    width: 100%;
    height: 2rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 15px;
}

.course-desc-divider-nja72b {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
    margin: 0px 7px;
}

.main-button-ncka2nx {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    /* background: #b78727; */
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 7px;
    padding: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main-button-ncka2nx:hover,
.main-button-ncka2nx:active,
.main-button-ncka2nx:focus {
    color: #fff;
    font-size: 16px;
    background: var(--primary-color);
}

.side-button-ncka2nx {
    outline: 0;
    width: fit-content;
    min-width: 120px;
    border: 0;
    margin-top: 12px;
    border-radius: 7px;
    padding: 15px;
    color: var(--fourth-color);
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.side-button-ncka2nx:hover,
.side-button-ncka2nx:active,
.side-button-ncka2nx:focus {
    background: #343434;
    color: #dedede;
    font-size: 16px;
}

.course-lessons-38cjwd {
    border-radius: 13px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    margin-bottom: 30px;
    padding: 0px 10px;
}

.module-item-cznj3ad {
    margin-top: -5px;
}

.module-title-cznj3ad {
    color: var(--fourth-color) !important;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 13px !important;
    line-height: 26px;
}

.lesson-item-27aca92 {
    height: 100px;
    display: flex;
}

.lesson-name-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 13px !important;

}

.lesson-description-9qncq6 {
    color: var(--fifth-color) !important;
    font-size: 11px !important;
    letter-spacing: 0.4px;
    margin-top: 3px;
}

.lesson-image-mcajn2 {
    height: 100%;
    width: auto;
}

.lesson-info-mc2nw {
    /* margin-top: 3px; */
}

.lesson-name-info-mc2nw {
    margin-left: 5px;
}

.lesson-item-k3bda {
    background-color: var(--primary-color);
    width: 100%;
    display: block;
    padding: 12px;
}

.lesson-item-header-acnk3 {
    background-color: var(--primary-color);
    padding: 12px 16px;
    display: flex;
    margin-bottom: 7px;
    width: 100%;
    min-width: 10%;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.lesson-item-header-acnk3.active {
    width: 100%;
    background-color: var(--third-color);
    border-color: aliceblue;
    border-width: 1px;
}

.lesson-progress-983bzs {
    background-color: var(--secondary-color);
}

.lesson-label-nja72b {
    color: var(--fifth-color) !important;
    font-size: 11px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
}

.lesson-value-nja72b {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 4px 0px 0px;
}

.lesson-desc-divider-nja72b {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
    margin: 0px 7px;
}

.lesson-lessons-38cjwd {
    border-radius: 13px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    border-width: 1px;
    border-color: var(--primary-color);
    margin-bottom: 12px;
    padding: 12px;
}

.lesson-header-23maaa {
    height: 6.1vh;
    max-height: 6.1vh;
    min-height: 6.1vh;
    width: auto;
    background: var(--ninth-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
    position: relative;
    padding-left: .75rem;
    padding-right: .75rem;
}

.lesson-title-1mcasa {
    font-size: 15px;
    letter-spacing: 0.05rem;
    text-align: center;
    color: var(--fourth-color);
    width: 75%;
    content: "#";
    margin-right: 2px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.lesson-content-mdak32 {
    height: 100% !important;
    width: 100%;
    padding: 24px 18% 100px 18%;
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--third-color); */
}

.lesson-description1-mcajn2 {
    color: var(--fourth-color) !important;
    font-size: 17px !important;
    letter-spacing: 0.7px;
    font-weight: 400;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}

.lesson-description-mcajn2 {
    color: var(--fourth-color) !important;
    font-size: 17px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}

.quiz-option-mcajn2 {
    color: var(--fourth-color) !important;
    font-size: 14px !important;
    letter-spacing: 0.7px;
    font-weight: 200;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}

.lesson-complete-mcajn2 {
    color: var(--gold-color) !important;
    font-size: 22px !important;
    letter-spacing: 0.7px;
    font-weight: 600;
    text-align: center;
}

.after-course-box-mcajn2 {
    background-color: var(--primary-color) !important;
    padding: 12px 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.after-course-title-mcajn2 {
    color: var(--gold-color) !important;
    font-size: 16px !important;
    letter-spacing: 0.7px;
    font-weight: 500;
    width: 100%;
}

.after-course-desc-mcajn2 {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 100;
    width: 100%;
    margin-top: 5px;
}

.next-lesson-button-mdkad {
    margin-top: 40px;
    color: var(--third-color) !important;
    background-color: var(--gold-color) !important;
    font-size: 14px !important;
    letter-spacing: 0.7px;
    font-weight: 500 !important;
    border-radius: 5px !important;
    padding: 0.3rem 1rem !important;
    height: 2.7rem !important;
}

.option-error-ncka2nx {
    font-size: 15px;
    color: #EC5800;
}

.arrow-left-header {
    color: var(--fourth-color);
    background-color: var(--primary-color);
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding-left: 3px;
}

.input-hint {
    font-size: 12px;
    color: #EC5800;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
}

.form-control-ncka2nx {
    outline: 0;
    background: #dedede;
    border-radius: 7px;
    width: 100%;
    border: 0;
    margin: 10px 0;
    color: #232323;
    padding: 15px;
    font-size: 15px;
}

.form-control-ncka2nx:focus {
    box-shadow: 0 0 10px 0 var(--seventh-color)
}

.modal-ncka2nx {
    background-color: var(--third-color);
    overflow-x: hidden;
}

.modal-header-ncka2nx {
    border-top-left-radius: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--seventh-color);
}

.modal-title-ncka2nx {
    color: var(--fourth-color);
    padding-top: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 300;
}

.arrow-left {
    color: var(--fourth-color);
    background-color: var(--primary-color);
    cursor: pointer;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    padding: 7px;
}

.next-button-mdkad {
    margin-top: 20px;
    color: var(--fourth-color) !important;
    font-size: .875rem !important;
    letter-spacing: 0.7px;
    font-weight: 600 !important;
    border-radius: 5px !important;
    padding: 0.3rem 0.5rem !important;
    height: 2rem !important;
}

.arrow-left-header:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.arrow-left:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.next-button-mdkad:hover {
    color: #1E2124 !important;
    background-color: #ffffff !important;
}

.close-icon {
    color: var(--fourth-color);
    background-color: var(--primary-color);
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 4px;
    font-weight: 500;
}

.close-icon:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.close-icon-search {
    color: #ffffff !important;
    border-radius: 50%;
    padding: 4px;
}

.close-icon-search:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.heart-icon {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding: 4px;
}

.heart-icon:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.lesson-video-3naksn {
    margin: 0px 5%;
    /* height: 60%; */
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.vp-sidedock .SideDock_module_root__07ab40b6 {
    display: none !important;

}

.custom-logo {
    display: none !important;
}

#sidebar-btn-nack3 {
    display: none;
}

.course-navigation-cnaw34 {
    display: flex !important;
    margin-top: 0 !important;
    flex-direction: row;
    align-items: center;
}

.title-cnaw34 {
    color: var(--fourth-color) !important;
    font-size: 17px !important;
    letter-spacing: 0.7px;
    width: 70%;
    font-weight: 500;
    text-align: center;
    display: none !important;
}

@media screen and (max-width: 1100px) {
    #course-content {
        display: flex;
        width: 100%;
        transition: left 0.3s linear;
    }

    #course-sidebar {
        display: flex;
        width: 47%;
        transition: left 0.3s linear;
    }


    @media screen and (max-width: 870px) {

        .back-icon-nw3rf {
            position: absolute;
            left: 4%;
        }

        .header-3m32aaw {
            justify-content: center !important;
            position: relative;
            display: none !important;
        }

        .header-3m32aaw.visible {
            justify-content: center !important;
            position: relative;
            display: flex !important;
        }

        .title-cnaw34 {
            display: block !important;
        }

        .course-navigation-cnaw34 {
            display: none !important;
            margin-top: 0 !important;
        }

        .lesson-header-23maaa {
            height: 11vh;
            background-color: var(--primary-color);
        }

        .content-92a233a {
            position: unset;
            height: 100vh;
        }

        #course-content {
            display: flex;
            width: 100%;
            transition: left 0.3s linear;
        }

        #course-content.visible {
            display: flex;
            width: 100%;
            position: fixed;
            right: -100%;
            transition: right 0.3s linear;
        }

        #course-sidebar {
            display: none;
            transition: left 0.3s linear;
        }

        #course-sidebar.visible {
            display: flex;
            width: 100%;
            /* margin-top: 11vh; */
            transition: left 0.3s linear;

        }

        #sidebar-btn-nack3 {
            margin-right: 20px;
            cursor: pointer;
            position: fixed;
            left: 2%;
            display: flex !important;
        }

        .lesson-content-mdak32 {
            padding: 24px 5% 24px 5%;
        }
    }
}