@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.form-title-2kncasz {
    color: #ededed;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.main-body-pa23cs {
    background-color: #0c1b33;
    height: 100vh;
    background: url('/assets/matrix-bg-bw-a53c6ae5.jpg');
    background-size: cover;
    background-position: center;
}

.fp-page-cam21as {
    width: 100%;
    /* align-items: center; */
    display: flex;
    justify-content: center;
}

.form-cam24uu {
    filter: drop-shadow(0 0 2px #000000);
    border-radius: 12px;
    max-width: 500px;
    height: fit-content;
    width: 500px;
    margin-top: 6rem;
    background-color: #1d2b3a;
    padding: 24px 24px 30px 24px;
}

.input-hint {
    font-size: 11.5px;
    color: #EC5800;
    margin-bottom: 5px;
    margin-top: 4px;
    text-align: left;
    text-decoration: none;
}

.form-control-ba83as8 {
    outline: 0;
    background: #e8f0fe;
    width: 100%;
    border: 0;
    border-radius: 5px !important;
    margin-top: 0.5rem;
    color: #232323;
    height: 44px !important;
    padding: 0px 16px;
    font-size: 15px;
}

.main-button-o3n2dc {
    outline: 0;
    background: #ecc879;
    width: 100%;
    height: 44px !important;
    border: 0;
    margin-top: 20px;
    border-radius: 5px !important;
    padding: 0px 15px;
    color: #343434;
    font-weight: 600 !important;
    font-size: 15px !important;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main-button-o3n2dc:hover,
.main-button-o3n2dc:active,
.main-button-o3n2dc:focus {
    background: #e3ae3a;
    color: #343434;
}

.back-action-k823nc {
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    display: flex;
    margin-top: 20px;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.back-msji783 {
    display: flex;
    flex-direction: row;
    text-align: center !important;
    font-size: 16px;
    margin-bottom: 12px;
    color: #ededed !important;
    text-decoration: none;
}

@media screen and (max-width: 550px) {
    .form-cam24uu {
        width: 80%;
        padding: 40px 28px;
    }
}